@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "_LayoutSecundario";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/indexManager.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PerIpsumOriginal.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="manage-layout">
        <nav>
            <div class="btn-container">
                <a id="btnAnotacoes" role="button" href="@Url.Action("Anotacoes", "Usuario")"><img src="~/img/usuarioAnotaBtn.svg" style="width: 85%; margin-top: 10px;" /></a>
                <div id="admDropdown" class="dropdown">
                    <button id="admButton" class="dropdown-toggle no-arrow" data-bs-toggle="dropdown" aria-expanded="false"><img src="~/img/admDropdown.svg" style="width: 80%;" /></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("Solicitacoes", "Admin")">Solicitações</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Feedbacks", "Admin")">Feedbacks</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <main>
            <div class="profile-form-container">
                <div class="profile-layout">
                <div class="form-titulo">
                    <h1 id="tituloManage">Informações Pessoais</h1>
                </div>
                <partial name="_StatusMessage" for="StatusMessage" />
                    <form id="profile-form" method="post">
                        <div id="nomeInput" class="profile-container">
                            <label asp-for="Input.Nome" class="form-label">Usuário:</label>
                            <div class="profile-input">
                                <input asp-for="Input.Nome" class="form-control" />
                                <span asp-validation-for="Input.Nome" class="text-danger"></span>
                                <div class="profile-submit-container">
                                    <button type="submit" id="updateNomeBtn" class="btn btn-atualizar">Atualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                        <!-- Email -->
                        <div id="emailInput" class="profile-container">
                            <label asp-for="Input.Email" class="form-label">E-mail:</label>
                            <div class="profile-input">
                                <input asp-for="Input.Email" type="email" class="form-control" disabled id="emailInput" />
                                <a asp-page="./Email" class="btn btn-atualizar">Atualizar</a>
                            </div>
                        </div>

                        <!-- Senha -->
                        <div id="senhaInput" class="profile-container">
                            <label asp-for="Input.Password" class="form-label">Senha:</label>
                            <div class="profile-input">
                                <input asp-for="Input.Password" id="senhaInput" value="*******" type="password" class="form-control" disabled />
                                <a asp-page="./ChangePassword" class="btn btn-atualizar ms-2">Atualizar</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <form id="delete-user" method="post" asp-page-handler="DeleteUser">
                                <button type="submit" id="btnDeletar" onclick="return confirm('Tem certeza que deseja deletar sua conta? Esta ação não pode ser desfeita.');">
                                    <p>Deseja deletar a sua conta?</p>
                                </button>
                            </form>
                        </div>
                        <!-- Adicione isso junto aos outros campos do formulário -->
                        
                    
                </div>
            </div>
        </main>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>