@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
    Layout = null;
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/PerIpsumOriginal.styles.css" asp-append-version="true" />
    </head>
<body>
    <div class="login-layout">
        <div class="barra-container"></div>
        <div class="form-container">
            <img src="~/img/decoracao-login.svg" style="display: none;"/>
            <div class="btn-login-container">
                <a id="btnVoltarEntrar" role="button" href="@Url.Action("Index", "Usuario")"><img src="~/img/btnVoltar.svg" style="width: 25px; height: 25px;margin: 5px;"/> Voltar</a>
            </div>
            <div class="titulo-login-container">
                <h1 id="tituloLogin">ENTRAR</h1>
            </div>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Nome" class="form-control" aria-required="true" placeholder="Usuário" />
                    <span asp-validation-for="Input.Nome" class="text-danger"></span>

                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Senha" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="bnt-entrar-container">
                    <button id="login-submit" type="submit">Entrar</button>
                </div>
                <div class="link-cadastro-container">
                    <p id="linkCadastro">Não possui uma conta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">CADASTRE-SE</a></p>
                </div>
            </form>
        </div>

    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>
