@model AnotacaoModel

<p>Tem certeza que deseja deletar esta anotação?</p>
<form asp-action="ApagarAnotacao" asp-controller="Usuario" method="post">
    @Html.HiddenFor(model => model.Id)
    <div class="modal-footer">
        <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Anotacoes" role="button">Fechar</a>
        <button type="submit" class="btn btn-danger">Deletar</button>
    </div>
</form>
