@using PerIpsumOriginal.Helpers
<form asp-action="SalvarPreferencias" method="post">
    <h3>Selecione suas preferências</h3>
    <div>
        <h6>Tipos</h6>
        @foreach (var tipo in Model.Tipos)
        {
            <div>
                <input type="checkbox" name="SelectedTipos" value="@tipo" />
                @ConteudosHelper.GetTextForTipo(tipo)
            </div>
        }
    </div>
    <div>
        <h6>Países</h6>
        @foreach (var pais in Model.Paises)
        {
            <div>
                <input type="checkbox" name="SelectedPaises" value="@pais" />
                @ConteudosHelper.GetCountryDisplayName(pais)
            </div>
        }
    </div>
    <button type="submit">Salvar Preferências</button>
</form>