@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containerIndex">
    <div id="slideShow" class="carousel slide" data-ride="carousel" data-interval="100">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/Testes (1).png" class="d-block w-100 h-100" style="border-radius: 20px; object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/Testes (2).png" class="d-block w-100 h-100" style="border-radius: 20px; object-fit: cover;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/Testes (3).png" class="d-block w-100 h-100" style="border-radius: 20px; object-fit: cover;" alt="...">
            </div>
        </div>
    </div>


    <div id="barraVerde">
        <div class="circulo">
            <img src="~/img/icone1.svg" class="img-fluid"  alt="Ícone" />
            <p id="c-texto-1" class="circulo-texto">Personalize sua Experiência</p>
        </div>
        <div class="circulo">
            <img src="~/img/icone2.svg" class="img-fluid" alt="Ícone" />
            <p id="c-texto-2" class="circulo-texto">Encontre vagas específicas</p>
        </div>
        <div class="circulo">
            <img src="~/img/icone3.svg" class="img-fluid" alt="Ícone" />
            <p id="c-texto-3" class="circulo-texto">Organize seus Objetivos</p>
        </div>
        <div class="circulo">
            <img src="~/img/icone4.svg" class="img-fluid" alt="Ícone" />
            <p id="c-texto-4" class="circulo-texto">Busca Otimizada</p>
        </div>
    </div>

    <div id="tituloTopLinha">
        <h2 id="Top">Top de Linha</h2>
    </div>

    <div class="fundoLinhas" >
        <img src="~/img/fundoLinhas.png" id="imagemdofundo" style="width: 100% ; height: auto; display: block; position: relative; margin: 80px 0;" alt="Fundo Linhas">
    </div>
    <div class="caixascontainer">
        <div class="box box1">
            <h1 class="titulo-box">Acampamento de Verão</h1>
            <img src="~/img/ImagemProfissao1.png" alt="Imagem Profissão 1">
            <div class="legenda">Confira os critérios<br>para conquistá-lo</div> <!-- Legenda arredondada -->
        </div>
        <div class="box box2">
            <h1 class="titulo-box">Bolsa de Estudos 100%</h1>
            <img src="~/img/ImagemProfissao2.png" alt="Imagem Profissão 2">
            <div class="legenda">Confira os critérios<br>para conquistá-la</div> <!-- Legenda arredondada -->
        </div>
        <div class="box box3">
            <h1 class="titulo-box">Estágio no Exterior</h1>
            <img src="~/img/ImagemProfissao3.png" alt="Imagem Profissão 3">
            <div class="legenda">Confira os critérios<br>para conquistá-la</div> <!-- Legenda arredondada -->
        </div>

    </div>
</div>
