
.mainModalDeletar[b-qqq1mcgiqj] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.titulo-modal-delete[b-qqq1mcgiqj] {
    display: inline-flex;
    justify-content: center;
    margin: 1em 0;
}

    .titulo-modal-delete p[b-qqq1mcgiqj] {
        font-family: Krub;
        font-size: 15px;
    }


#descricaoDelete[b-qqq1mcgiqj] {
    font-family: Krub;
    text-align: center;
    font-weight: bold;
    margin: 1em 0;
}

.btn-modal-container[b-qqq1mcgiqj] {
    display: inline-flex;
    position: absolute;
    top: 2%;
    right: 2%;
    justify-content: end;
}


.btn-close[b-qqq1mcgiqj] {
    filter: invert(19%) sepia(72%) saturate(5297%) hue-rotate(353deg) brightness(88%) contrast(108%);
}

.footerModalDelete[b-qqq1mcgiqj] {
    display: inline-flex;
    justify-content: center;
}

#confirmDeleteBtn[b-qqq1mcgiqj] {
    width: 100%;
    background-color: #C50003;
    padding-inline: 1em;
    font-size: 26px;
    color: #fffff3;
    font-family: Krub;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    #confirmDeleteBtn:hover[b-qqq1mcgiqj] {
        transform: scale(1.05);
    }

.modal-content[b-qqq1mcgiqj] {
    position: relative;
    display: flex;
    justify-self: center;
    flex-direction: row;
    width: 30%;
    max-height: 90vh;
    pointer-events: auto;
    background-color: #fffff3;
    background-clip: border-box;
    overflow-y: auto;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    padding: 1.5em;
}

