/* _content/PerIpsumOriginal/Views/Admin/DeletarRascunhos.cshtml.rz.scp.css */
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
/* _content/PerIpsumOriginal/Views/Admin/EditarRascunhos.cshtml.rz.scp.css */
/* _content/PerIpsumOriginal/Views/Admin/Feedbacks.cshtml.rz.scp.css */
/* _content/PerIpsumOriginal/Views/Admin/Rascunhos.cshtml.rz.scp.css */
#tipoDesignRascunho[b-3hr5jcfa2x] {
    width: 100px;
    height: 30px;
    border-radius: 25px;
    margin-left: 17px;
    margin-right: 10px;
}

#tipoTextoRascunho[b-3hr5jcfa2x] {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Krub;
    font-weight: bold;
}

#paisDesignRascunho[b-3hr5jcfa2x] {
    display: inline-flex;
    align-items: center;
    background-color: #FFFFF3;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    padding-right: 0;
}

#paisTextoRascunho[b-3hr5jcfa2x] {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Krub;
    font-weight: normal;
    margin: auto;
}

#dataDesignRascunho[b-3hr5jcfa2x] {
    display: inline-flex;
    align-items: center;
    background-color: #FFFFF3;
    width: 146px;
    height: 30px;
    border-radius: 25px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    padding-right: 0;
}

#dataTextoRascunho[b-3hr5jcfa2x] {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Krub;
    font-weight: normal;
    margin: 0;
}

#textoTituloRascunho[b-3hr5jcfa2x] {
    display: flex;
    font-size: 20px;
    font-family: Krub;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0;
}

#textoDescricaoRascunho[b-3hr5jcfa2x] {
    display: flex;
    font-size: 16px;
    font-family: Krub;
    font-weight: normal;
    text-align: start;
}

#espacoTextoRascunho[b-3hr5jcfa2x] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 14px;
}

#linkTextoRascunho[b-3hr5jcfa2x] {
    display: none;
}

#imagemCardRascunho[b-3hr5jcfa2x] {
    display: flex;
    width: 366px;
    height: 223px;
    border-radius: 15px;
    margin: 7px;
    position: relative;
}


#modalImageRascunho[b-3hr5jcfa2x] {
    width: 100%;
    height: 580px;
    border-radius: 15px;
    margin: 20px 30px;
    margin-bottom: 0;
}

#modalTipoDesignRascunho[b-3hr5jcfa2x] {
    width: 100px;
    height: 30px;
    border-radius: 25px;
    margin-left: 17px;
    margin-right: 10px;
}

#modalTipoRascunho[b-3hr5jcfa2x] {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Krub;
    font-weight: bold;
    border-radius: 25px;
}

#modalPaisDesignRascunho[b-3hr5jcfa2x] {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #FFFFF3;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    padding-right: 0;
    margin-right: 10px;
}

#modalPaisRascunho[b-3hr5jcfa2x] {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Krub;
    font-weight: normal;
}

#modalPaisDisplayRascunho[b-3hr5jcfa2x] {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 10px;
}

#modalDataDesignRascunho[b-3hr5jcfa2x] {
    display: inline-flex;
    align-items: center;
    background-color: #FFFFF3;
    width: 146px;
    height: 30px;
    border-radius: 25px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    padding-right: 0;
}

#modalDataRascunho[b-3hr5jcfa2x] {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Krub;
    font-weight: normal;
    margin: 0;
}

#modalLinkRascunho[b-3hr5jcfa2x] {
    color: #FFFFF3;
    text-align: center;
    font-size: 32px;
    font-family: Krub;
    font-weight: 600;
}

#modalTitleRascunho[b-3hr5jcfa2x] {
    display: flex;
    font-size: 20px;
    font-family: Krub;
    font-weight: 500;
    text-align: start;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 5px;
}

#modalDescriptionRascunho[b-3hr5jcfa2x] {
    display: flex;
    font-size: 16px;
    font-family: Krub;
    font-weight: 400;
    text-align: start;
    margin-left: 65px;
    margin-right: 40px;
}
/* _content/PerIpsumOriginal/Views/Admin/Solicitacoes.cshtml.rz.scp.css */
/* _content/PerIpsumOriginal/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-w03624orpt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-w03624orpt] {
  color: #0077cc;
}

.btn-primary[b-w03624orpt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-w03624orpt], .nav-pills .show > .nav-link[b-w03624orpt] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-w03624orpt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-w03624orpt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-w03624orpt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-w03624orpt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-w03624orpt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PerIpsumOriginal/Views/Shared/_LayoutSecundario.cshtml.rz.scp.css */
*[b-33iofu2bhy]{
    margin: 0;
    padding: 0;
}

body[b-33iofu2bhy] {
    display: flex;
    min-height: 100vh;
}

.layout[b-33iofu2bhy] {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;
    min-height: 100vh;
}


#sidebar[b-33iofu2bhy] {
    grid-column: 1;
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    padding: 5px 1em;
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}
#sidebar.close[b-33iofu2bhy] {
    width: 90px;
}

    #sidebar a.active span[b-33iofu2bhy] {
        font-weight: bold;
    }

#sidebar ul[b-33iofu2bhy] {
    list-style: none;
}

#sidebar > ul > li:first-child[b-33iofu2bhy]{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.logo[b-33iofu2bhy] {
    font-family: Badhorse;
    font-weight: 100;
    font-size: 30px;
}

#sidebar a[b-33iofu2bhy], #sidebar .logo[b-33iofu2bhy] {
    padding: .25em;
    padding-left: 0;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1em;
}
#sidebar a[b-33iofu2bhy] {
    padding: 1em;
}

#sidebar a span[b-33iofu2bhy] {
    flex-grow: 1;
}
#sidebar a:hover[b-33iofu2bhy]  {
    font-weight: 600;
}

#toggle-btn[b-33iofu2bhy] {
    padding: .50em;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}
@media(max-width: 480px){
    #sidebar[b-33iofu2bhy] {
        display: none;
    }
}

/* _content/PerIpsumOriginal/Views/Usuario/Anotacoes.cshtml.rz.scp.css */
*[b-mww44o13le] {
    margin: 0;
    padding: 0;
}

body[b-mww44o13le] {
    display: flex;
    min-height: 100vh;
}

.anotacoes-layout[b-mww44o13le] {
    display: grid;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    grid-template-rows: 1fr auto;
}

nav[b-mww44o13le] {
    display: grid;
    grid-template-columns: 0.5fr auto 0.5fr;
    grid-template-areas: "pesquisar titulo botoes";
    width: 100%;
}

main[b-mww44o13le] {
    display: flex;
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 1;
}

.anotacoes-container[b-mww44o13le] {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    gap: 15px;
    background-color: #FFFFF3;
    width: 100%;
    max-width: 1920px;
    min-width: 800px;
    height: 100%;
    max-height: 850px;
    min-height: 600px;
    border-radius: 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    padding: 15px;
    box-sizing: border-box;
    margin-inline: 1em;
}

.search-container[b-mww44o13le] {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1em;
    flex-direction: row;
    grid-area: pesquisar;
}

#searchInputFeed[b-mww44o13le] {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-family: Krub;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    background-color: #FFFFF3;
    margin-inline-start: 1em;
}

.title-container[b-mww44o13le] {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin: 1em;
    flex-direction: row;
    grid-area: titulo;
}

.titulo-design[b-mww44o13le] {
    border-radius: 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    background-color: #FFFFF3;
}

#anotacoesTitulo[b-mww44o13le] {
    font-family: Krub;
    font-size: 20px;
    padding: 0.4em;
}

.btn-container[b-mww44o13le] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: botoes;
    margin-top: 0.5em;
}

.blocoAnotacao[b-mww44o13le] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 175px;
    max-width: 200px;
    min-width: 150px;
    height: 55px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word; 
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis;
    transition: transform 0.3s ease;
}

    .blocoAnotacao p[b-mww44o13le] {
        font-family: Krub;
        font-size: 28px;
        color: #FFFFF3;
        vertical-align: central;
        margin: auto;
    }

    .blocoAnotacao:hover[b-mww44o13le] {
        transform: scale(1.05);
    }

#descricaoAnotacao[b-mww44o13le] {
    display: none;
}

.btn-close[b-mww44o13le] {
    filter: invert(19%) sepia(72%) saturate(5297%) hue-rotate(353deg) brightness(88%) contrast(108%);
}
/* _content/PerIpsumOriginal/Views/Usuario/Calendario.cshtml.rz.scp.css */
.fc[b-bwdgjc3sag] {
    background-color: #fffff3;
    border-radius: 15px;
    display: flex;
    width: 100%;
}
/* _content/PerIpsumOriginal/Views/Usuario/Contato.cshtml.rz.scp.css */
.containerContato[b-xckj07141h] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* _content/PerIpsumOriginal/Views/Usuario/Favoritos.cshtml.rz.scp.css */
/* _content/PerIpsumOriginal/Views/Usuario/Feed.cshtml.rz.scp.css */
*[b-zya5gcfuuh] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-zya5gcfuuh] {
    display: flex;
    min-height: 100vh;
    
}

.feed-layout[b-zya5gcfuuh] {
    display: grid;
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    grid-template-rows: 1fr auto;
    overflow-x: hidden;
}

nav[b-zya5gcfuuh] {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "pesquisar botoes";
    width: 100%;
}


main[b-zya5gcfuuh] {
    display: flex;
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 1;
}

.feed-container[b-zya5gcfuuh] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que os cards desçam para a próxima linha */
    justify-content: space-evenly;
    align-items: flex-start; /* Alinha os cards à esquerda */
    gap: 15px; /* Espaçamento entre os cards */
    padding: 15px; /* Padding entre os cards e a borda do container */
    background-color: #FFFFF3;
    width: 100%;
    max-width: 1920px;
    min-width: 800px;
    height: 100%;
    max-height: 850px;
    min-height: 600px;
    border-radius: 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Scroll vertical quando necessário */
    box-sizing: border-box;
    margin-inline: 1em;
}

    .feed-container[b-zya5gcfuuh]::-webkit-scrollbar {
        width: 15px;
    }

    .feed-container[b-zya5gcfuuh]::-webkit-scrollbar-track {
        background: none; /* Fundo transparente */
        margin: 12px 0; /* Margem no topo e na base */
    }

    .feed-container[b-zya5gcfuuh]::-webkit-scrollbar-thumb {
        background-color: #C4C4C4; /* Cor do scroll */
        border-radius: 10px; /* Arredondamento */
        border: 2px solid #FFFFF3; /* Cor que parece fazer parte do container */
    }

        .feed-container[b-zya5gcfuuh]::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Cor mais escura ao passar o mouse */
        }

    /* Remover a aparência de borda do scroll */
    .feed-container[b-zya5gcfuuh]::-webkit-scrollbar-corner {
        background: none;
    }


.search-container[b-zya5gcfuuh], .filter-container[b-zya5gcfuuh], .btn-container[b-zya5gcfuuh] {
    display: flex;
    flex-wrap: nowrap; /* Ou wrap, dependendo do layout desejado */
    overflow: hidden;
}

#btnRascunhos[b-zya5gcfuuh],
#admDropdown[b-zya5gcfuuh],
.perfil-container[b-zya5gcfuuh],
.link-container[b-zya5gcfuuh],
.categorias-container[b-zya5gcfuuh],
.descricao-container[b-zya5gcfuuh]{
    display: none;
}

.search-container[b-zya5gcfuuh] {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1em;
    flex-direction: row;
    grid-area: pesquisar;
}



#searchInputFeed[b-zya5gcfuuh] {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-family: Krub;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    background-color: #FFFFF3;
    margin-inline-start: 1em;
}


.custom-input:focus[b-zya5gcfuuh] {
    outline: none;
    box-shadow: none;
}

.filter-container[b-zya5gcfuuh], #filtroBtn[b-zya5gcfuuh] {
    display: inline-flex;
    grid-area: filtro;
    background-color: #DCEFE1;
    margin: auto;
    border: none;
    img {
    width: 80%;
        }
}

.dropdown-menu[b-zya5gcfuuh] {
    background-color: #FFFFF3;
    border: none;
    border-radius: 20px;
    max-width: 300px;
    padding: 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    font-family: Krub;
    overflow: auto;
}

    .dropdown-menu .form-check[b-zya5gcfuuh] {
        display: flex;
        align-items: center;
        padding: 5px 0; 
        margin: 0;
        justify-content: start;
    }

    .dropdown-menu .form-check-input[b-zya5gcfuuh] {
        margin-right: 12px;
        margin-left: 0.5em;
        /* Espaço entre o checkbox e o label */
    }

    .dropdown-menu .form-check-label[b-zya5gcfuuh] {
        font-size: 16px;
        color: #333;
    }




.dropdown-toggle.no-arrow[b-zya5gcfuuh]::after {
    display: none;
}


.btn-container[b-zya5gcfuuh] {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: botoes;
}

#btnAnotacoes[b-zya5gcfuuh] {
    grid-area: funcao;
}

.perfil-container[b-zya5gcfuuh] {
    display: none;
    grid-area: perfil;
}


.card[b-zya5gcfuuh] {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto auto auto;
    grid-template-areas:
        'imagem'
        'top'
        'titulo'
        'descricao';
    background-color: #FFFFF3;
    height: 390px;
    width: 390px; /* Limita a largura máxima dos cards */
    border-radius: 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
}



    .card:hover[b-zya5gcfuuh] {
        transform: scale(1.05);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }

.imagem-container[b-zya5gcfuuh] {
    position: relative;
    grid-area: imagem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagem-container img[b-zya5gcfuuh] {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.favorito-btn[b-zya5gcfuuh] {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    
}

.favoritar-btn[b-zya5gcfuuh] {
    background-color: transparent;
    border: none;
}

.info-container[b-zya5gcfuuh] {
    display: inline-grid;
    grid-area: top;
    grid-template-columns: auto auto auto;
    grid-template-areas: "tipo pais data";
    gap: 2px;
    justify-content: space-between;
}

.tipoDesign[b-zya5gcfuuh] {
    grid-area: tipo;
    margin: auto;
    font-family: Krub;
    padding: 1.5px 1.5em;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFF3;
    border-radius: 20px;
}

.paisDesign[b-zya5gcfuuh] {
    grid-area: pais;
    display: inline-flex;
    margin: auto;
    font-family: Krub;
    font-size: 18px;
    background-color: transparent;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    p{
    padding: 0 1.5em;
    }
}

.dataDesign[b-zya5gcfuuh] {
    grid-area: data;
    display: inline-flex;
    margin: auto;
    padding: 0 10px;
    font-family: Krub;
    font-size: 18px;
    background-color: transparent;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    p{
    padding: 0 0.7em;
    }
}

.titulo-container[b-zya5gcfuuh] {
    display: flex;
    font-family: Krub;
    font-weight: bold;
    grid-area: titulo;
    overflow: hidden;
    white-space: nowrap;
}

.descricao-container[b-zya5gcfuuh] {
    display: flex;
    font-family: Krub;
    font-weight: normal;
    grid-area: descricao;
    overflow: hidden;
    white-space: nowrap;
}

/* MODAL */

.modal-dialog[b-zya5gcfuuh] {
    margin: auto !important;
    max-width: 100%;
    width: 950px;
}


.modal-content[b-zya5gcfuuh] {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 90vh;
    pointer-events: auto;
    background-color: #fffff3;
    background-clip: border-box;
    overflow-y: auto;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    padding: 1.5em;
}

.btn-close[b-zya5gcfuuh] {
    filter: invert(19%) sepia(72%) saturate(5297%) hue-rotate(353deg) brightness(88%) contrast(108%);
}

.esquerda[b-zya5gcfuuh] {
    display: flex;
    width: 100%;
    height: 100%;
}

.direita[b-zya5gcfuuh] {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding-inline: 1em;
    overflow-y: auto;
}

.btn-modal-container[b-zya5gcfuuh] {
    display: inline-flex;
    position: absolute;
    top: 3%;
    right: 2%;
    justify-content: end;
}


#imgModal[b-zya5gcfuuh] {
    width: 460px;
    height: 580px;
    border-radius: 15px;
    object-fit: cover; 
    object-position: center;
    max-width: 100%; 
    max-height: 100%;
    position: relative;
}

.headerModal[b-zya5gcfuuh] {
    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0.5em 0;
}

#tipoModal[b-zya5gcfuuh] {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Krub;
    font-weight: bold;
    border-radius: 15px;
    padding-inline: 1.5em;
}

.modal-pais-design[b-zya5gcfuuh] {
    display: inline-flex;
    flex-direction: row-reverse;
    border-radius: 25px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

#paisModal[b-zya5gcfuuh] {
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Krub;
    font-weight: normal;
    padding-inline: 1.5em;
}

.modal-data-design[b-zya5gcfuuh] {
    display: inline-flex;
    border-radius: 25px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Krub;
    font-weight: normal;
    width: 35%;

    img {
            width: 10%;
        }
    p[b-zya5gcfuuh] {
        margin: auto 0.25em;
    }
}

.mainModal[b-zya5gcfuuh] {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#nomeModal[b-zya5gcfuuh] {
    display: flex;
    font-size: 25px;
    font-family: Krub;
    font-weight: 600;
    text-align: start;
    margin: 0.3em 0;
    overflow-wrap: break-word;
}

#descricaoModal[b-zya5gcfuuh] {
    font-size: 16px;
    font-family: Krub, sans-serif;
    font-weight: 400;
    text-align: start;
    margin-bottom: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    height: auto;
    word-wrap: break-word; 
    word-break: break-word;
    line-height: 1.5;
}


.modal-link-design[b-zya5gcfuuh] {
    display: flex;
    position: absolute;
    justify-self: center;
    bottom: 5%;
    right: 15%;
    background-color: #009846;
    color: #FFFFF3;
    border-radius: 25px;
    padding-inline: 3em;
    transition: background-color 0.3s;
}

    .modal-link-design:hover[b-zya5gcfuuh] {
        background-color: #007F39;
    }

#linkModal[b-zya5gcfuuh] {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    font-family: Krub;
    color: #fffff3;
}

.footerModal[b-zya5gcfuuh] {
    display: inline-flex;
    justify-content: end;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#categoriasModal[b-zya5gcfuuh] {
    display: flex;
    position: absolute;
    font-family: Krub;
    bottom: 20%;
}

.favoritar-btn-modal[b-zya5gcfuuh] {
    position: absolute;
    top: 4.5%;
    left: 44%;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    border: none;
    background-color: transparent;
}
/* _content/PerIpsumOriginal/Views/Usuario/Index.cshtml.rz.scp.css */
#fundoIndex[b-x432cbsxza] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #FFFFF3;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}

    #fundoIndex[b-x432cbsxza]:after {
        content: "";
        display: block;
        clear: both;
    }


#fundo2[b-x432cbsxza] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #FFFFF3;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    position: relative; /* Necessário para o posicionamento absoluto dos elementos filhos */
}

    #fundo2[b-x432cbsxza]:after {
        content: "";
        display: block;
        clear: both;
    }

.faixa-verde[b-x432cbsxza] {
    background-color: #009846; /* Nova cor da faixa */
    width: 99.47vw; /* Largura total da viewport */
    height: 180px; /* Altura da faixa */
    margin-left: calc(-50vw + 50%); /* Centralizar a faixa fora da div 'fundo' */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atualizacoes-conteudo[b-x432cbsxza] {
    position: absolute;
    text-align: center;
    color: white; /* Cor do texto */
}

    .atualizacoes-conteudo h2[b-x432cbsxza] {
        font-size: 35px;
        margin-bottom: 10px;
        font-weight: normal; /* Retirado o negrito */
    }

.feed-button[b-x432cbsxza] {
    background-color: yellow;
    color: #002279; /* Cor do texto do botão */
    font-size: 32px; /* Mantendo o tamanho da fonte original */
    padding: 15px; /* Tamanho do botão */
    width: 200px; /* Aumentando a largura do botão */
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 40px; /* Bordas arredondadas */
    text-align: center;
}

    .feed-button:hover[b-x432cbsxza] {
        background-color: #e5e500; /* Ligeiramente mais escuro no hover */
    }

/* Estilo para o título "Perguntas Frequentes" */
.perguntas-frequentes h2[b-x432cbsxza] {
    font-size: 64px;
    color: #002279; /* Ajuste para o tom desejado */
    font-family: 'Badhorse', sans-serif; /* Aplicando a fonte Badhorse */
    text-align: center;
    margin-top: 50px;
}

/* Estilo para a caixinha que engloba todas as perguntas */
.faq-container[b-x432cbsxza] {
    border: 10px solid #002279; /* Borda azul ao redor de todas as perguntas */
    padding: 20px;
    border-radius: 30px; /* Bordas arredondadas */
    background-color: white; /* Fundo branco dentro da borda */
}

/* Estilo para cada pergunta dentro da caixinha */
.faq-item[b-x432cbsxza] {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

    .faq-item img[b-x432cbsxza] {
        margin-right: 10px; /* Espaço entre o ícone e o texto da pergunta */
        cursor: pointer; /* Cursor de pointer para indicar que é clicável */
    }

    .faq-item h3[b-x432cbsxza] {
        font-size: 24px;
        margin-bottom: 10px;
        cursor: pointer; /* Cursor de pointer para indicar que é clicável */
    }

/* Estilo das respostas, inicialmente escondidas */
.faq-answer[b-x432cbsxza] {
    display: none;
    font-size: 18px;
    margin-top: 10px;
    text-align: left; /* Alinha o texto à esquerda */
}

    /* Estilo para a animação ao mostrar a resposta */
    .faq-answer.show[b-x432cbsxza] {
        display: block;
        animation: fadeIn-b-x432cbsxza 0.5s ease-in-out;
    }

@keyframes fadeIn-b-x432cbsxza {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.titulo-sobre-nos[b-x432cbsxza] {
    font-family: 'Badhorse', sans-serif; /* Fonte do título */
    font-size: 55px; /* Aumenta o tamanho da fonte do título */
    text-align: center;
    margin-top: 50px;
}

.texto-sobre-nos[b-x432cbsxza] {
    font-family: 'Krub', sans-serif; /* Fonte do texto */
    font-size: 22px; /* Aumenta o tamanho da fonte do texto */
    text-align: center;
    margin: 20px 10%;
}

.slideshow-container[b-x432cbsxza] {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.mySlides[b-x432cbsxza] {
    display: none;
    position: relative; /* Mude para relative para evitar problemas de deslocamento */
    width: 100%;
}

    /* Garantir que o primeiro slide seja mostrado corretamente */
    .mySlides:first-child[b-x432cbsxza] {
        display: block;
    }

/* Envolve a caixa verde e a sobrepõe ao slideshow */
.oportunidades-wrapper[b-x432cbsxza] {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 2;
    overflow: visible;
    margin-bottom: -150px; /* Faz com que o resto do conteúdo suba */
}

/* Nova div para sobrepor ao slideshow */
.oportunidades-overlay[b-x432cbsxza] {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 3;
}

.oportunidades-box[b-x432cbsxza] {
    width: 100%; /* Define a largura total da viewport */
    height: 200px;
    background-color: #009846;
    position: absolute; /* Ajusta a posição para absoluta */
    left: 0; /* Alinha à esquerda */
    top: 0; /* Alinha ao topo da wrapper */
    margin: 0;
    padding: 0;
}

/* Estiliza os círculos */
.circle[b-x432cbsxza] {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #009846;
}

    /* Posicionamento dos círculos */
    .circle:nth-child(1)[b-x432cbsxza] {
        left: 10%;
    }

    .circle:nth-child(2)[b-x432cbsxza] {
        left: 30%;
    }

    .circle:nth-child(3)[b-x432cbsxza] {
        left: 50%;
    }

    .circle:nth-child(4)[b-x432cbsxza] {
        left: 70%;
    }

    /* Ajustes de estilo para os ícones SVG */
    .circle img[b-x432cbsxza] {
        width: 60px; /* Tamanho do ícone SVG */
        height: 60px;
        margin-top: 65px;
    }

.circle-text[b-x432cbsxza] {
    margin-top: 20px; /* Aumenta o espaçamento acima do texto */
    font-size: 22px;
    text-align: center;
    color: white; /* Mude a cor conforme o design desejado */
}

.resto-conteudo[b-x432cbsxza] {
    position: relative;
    z-index: 4;
    margin-top: 40px;
    padding-bottom: 50px;
}


.titulo-top[b-x432cbsxza] {
    font-family: 'Badhorse', sans-serif; /* Fonte do título Top de Linha */
    font-size: 60px; /* Aumenta o tamanho da fonte */
    color: #002279; /* Cor do título */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Adiciona margem superior */
}



/* Estilo adicional para quebrar a linha no título "Acampamento de Verão" */
.box.box1 h1[b-x432cbsxza] {
    white-space: pre-wrap; /* Permite quebra de linha no título */
}

.imagem-fundo-container[b-x432cbsxza] {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-top: 150px;
    height: auto; /* Retirar a altura fixa */
}

.imagem-fundo[b-x432cbsxza] {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.boxes-container[b-x432cbsxza] {
    display: flex;
    justify-content: space-around;
    margin-top: -350px; /* Posição ajustada para sobrepor a imagem de fundo */
    z-index: 3;
    padding: 0 5%;
}

.box[b-x432cbsxza] {
    width: 25%;
    height: 400px;
    border: 15px solid #002279; /* Borda azul */
    border-radius: 20px; /* Bordas arredondadas */
    color: #002279;
    font-weight: bold;
    background-color: transparent; /* Sem fundo preenchido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 4;
}

    .box h1[b-x432cbsxza] {
        font-size: 24px; /* Tamanho do título */
        margin-top: 0px; /* Ajusta a distância do topo */
        margin-bottom: 20px; /* Espaçamento entre o título e a imagem */
        text-align: center;
    }

    .box img[b-x432cbsxza] {
        width: 150px; /* Aumenta o tamanho da imagem para 150px */
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 10px; /* Ajusta o espaçamento abaixo da imagem */
    }

/* Especificamente para a Box 2 */
.box2[b-x432cbsxza] {
    width: 30%; /* Aumentando a largura */
    height: 500px; /* Aumentando a altura */
    background-color: #002279; /* Cor de preenchimento para a box2 */
    color: white;
    font-weight: bold;
}

    .box2 img[b-x432cbsxza] {
        width: 270px;
        height: auto;
    }


.legenda[b-x432cbsxza] {
    background-color: #FFD700; /* Cor amarela */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-top: 10px; /* Espaçamento superior */
    border-radius: 30px; /* Deixa a caixa bem arredondada */
    max-width: 80%; /* Controla o tamanho máximo da legenda */
    word-wrap: break-word; /* Garante que o texto seja quebrado se for muito longo */
    color: #002279;
    font-weight: bold;
    margin-top: -30px;
}


h2[b-x432cbsxza] {
    position: relative; /* Para que o título fique sobre a imagem */
    z-index: 2; /* Garante que o título fique acima da imagem */
    margin: 20px 0; /* Espaçamento acima e abaixo do título */
}
/* _content/PerIpsumOriginal/Views/Usuario/Sobre.cshtml.rz.scp.css */
.containerIndex[b-l5yg1kckl0] {
    display: grid;
    grid-template-rows: 665px 200px 160px 420px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1400px));
    grid-template-areas:
        'slides'
        'circulos'
        'tituloTop'
        'conteudoTop';
    justify-content: center;
    background-color: #FFFFF3;
    border-radius: 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    padding-top: 20px;
}

#slideShow[b-l5yg1kckl0] {
    grid-area: slides;
    justify-self: center;
    max-width: 100%;
    z-index: 1;
    position: relative;
}

#barraVerde[b-l5yg1kckl0] {
    display: inline-grid;
    grid-template-columns: repeat(4, 180px);
    gap: 0px;
    grid-area: circulos;
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
    background-color: #009846;
    height: 180px;
    z-index: 1;
}

.circulo[b-l5yg1kckl0] {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 180px;
    height: 180px;
    background-color: #009846;
    border-radius: 50%;
    margin-top: -90px;
    position: relative;
}

.circulo-texto[b-l5yg1kckl0] {
    font-size: 22px;
    color: #FFFFF3;
    font-family: Krub;
    font-weight: 600;
    margin-top: 20px;

}
#c-texto-1[b-l5yg1kckl0] {
    padding: 0;
    margin-bottom: -80px;
}
#c-texto-2[b-l5yg1kckl0] {
    padding: 5px 0;
    margin-bottom: -80px;
}
#c-texto-3[b-l5yg1kckl0] {
    padding: 15px 0;
    margin-bottom: -95px;
}
#c-texto-4[b-l5yg1kckl0] {
    padding: 0 5px;
    margin-bottom: -75px;
}

#tituloTopLinha[b-l5yg1kckl0]{
    display:grid;
    grid-area: tituloTop;
    justify-content:center;
    justify-self: center;
}

#Top[b-l5yg1kckl0] {
    text-align: center;
    font-family: Badhorse;
    color: #002279;
    font-size: 70px;
    margin-top: 30px;
}

#fundoLinhas[b-l5yg1kckl0] {
    display: grid;
    grid-area: conteudoTop;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 2;
}

.caixascontainer[b-l5yg1kckl0] {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-area: conteudoTop;
    justify-content: space-around;
    justify-self: center;
    z-index: 3;
}

.box[b-l5yg1kckl0] {
    width: 25%;
    height: 400px;
    border: 15px solid #002279; /* Borda azul */
    border-radius: 20px; /* Bordas arredondadas */
    color: #002279;
    font-weight: bold;
    background-color: transparent; /* Sem fundo preenchido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 4;
}

    .box h1[b-l5yg1kckl0] {
        font-size: 24px; /* Tamanho do título */
        margin-top: 0px; /* Ajusta a distância do topo */
        margin-bottom: 20px; /* Espaçamento entre o título e a imagem */
        text-align: center;
    }

    .box img[b-l5yg1kckl0] {
        width: 150px; /* Aumenta o tamanho da imagem para 150px */
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 10px; /* Ajusta o espaçamento abaixo da imagem */
    }

/* Especificamente para a Box 2 */
.box2[b-l5yg1kckl0] {
    width: 30%; /* Aumentando a largura */
    height: 500px; /* Aumentando a altura */
    background-color: #002279; /* Cor de preenchimento para a box2 */
    color: white;
    font-weight: bold;
}

    .box2 img[b-l5yg1kckl0] {
        width: 270px;
        height: auto;
    }
