html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@font-face {
    font-family: 'Krub';
    src: url('/fonts/Krub-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Krub-SemiBold';
    src: url('/fonts/Krub-SemiBold.ttf') format('ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Krub-Medium';
    src: url('/fonts/Krub-Medium.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar-nav .nav-link {
    font-size: 18px;
    transition: font-size 0.3s ease-in-out;
}

    .navbar-nav .nav-link:hover {
        font-size: 20px; 
        transition: font-size 0.3s ease-in-out;
    }


.icone-home, .icone-feed, .icone-sobre, .icone-calendario, .icone-solicitacoes, .icone-contato {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.nav-link.active .icone-home,
.nav-link.active .icone-feed,
.nav-link.active .icone-sobre,
.nav-link.active .icone-calendario,
.nav-link.active .icone-solicitacoes,
.nav-link.active .icone-contato {
    filter: brightness(0) saturate(100%) invert(53%) sepia(100%) saturate(178%) hue-rotate(90deg) brightness(80%) contrast(100%);
}

.nav-link.active {
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    background-color: #DCEFE1;
    margin: 0;
}





/* 
#scrollContainer {
    position: relative;
    width: 1260px; 
    height: 850px; 
    overflow: visible; 
}


#fundo {
    width: 1240px; 
    height: 850px;
    background-color: #FFFFF3;
    border-radius: 20px;
    overflow-y: scroll; 
    padding-right: 20px; 
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

   
    #fundo::-webkit-scrollbar {
        width: 12px;
    }

    #fundo::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    #fundo::-webkit-scrollbar-thumb {
        background-color: #258cfb;
        border-radius: 10px;
        border: 3px solid #f1f1f1;
    }

        #fundo::-webkit-scrollbar-thumb:hover {
            background-color: #0b71d1;
        }

#fundo {
    scrollbar-width: thin;
    scrollbar-color: #258cfb #f1f1f1;
}

    
    #fundo::-webkit-scrollbar {
        right: -20px; 
    }
*/

