*[b-33iofu2bhy]{
    margin: 0;
    padding: 0;
}

body[b-33iofu2bhy] {
    display: flex;
    min-height: 100vh;
}

.layout[b-33iofu2bhy] {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;
    min-height: 100vh;
}


#sidebar[b-33iofu2bhy] {
    grid-column: 1;
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    padding: 5px 1em;
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}
#sidebar.close[b-33iofu2bhy] {
    width: 90px;
}

    #sidebar a.active span[b-33iofu2bhy] {
        font-weight: bold;
    }

#sidebar ul[b-33iofu2bhy] {
    list-style: none;
}

#sidebar > ul > li:first-child[b-33iofu2bhy]{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.logo[b-33iofu2bhy] {
    font-family: Badhorse;
    font-weight: 100;
    font-size: 30px;
}

#sidebar a[b-33iofu2bhy], #sidebar .logo[b-33iofu2bhy] {
    padding: .25em;
    padding-left: 0;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1em;
}
#sidebar a[b-33iofu2bhy] {
    padding: 1em;
}

#sidebar a span[b-33iofu2bhy] {
    flex-grow: 1;
}
#sidebar a:hover[b-33iofu2bhy]  {
    font-weight: 600;
}

#toggle-btn[b-33iofu2bhy] {
    padding: .50em;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}
@media(max-width: 480px){
    #sidebar[b-33iofu2bhy] {
        display: none;
    }
}

